h1 {
    font-family: 'Lobster', cursive;
}

.item {
   text-align: 400px;
   border-radius: 200%;
   height: 440px;
   width: 440px;
}

img {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
}
.container:hover{
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: grayscale(1);
    transition: background-size 0.3s ease; 
}

 body {
     text-align: center;
 }
