h1 {
    font-family: 'Lobster', cursive;
}

.item {
   text-align: 400px;
   border-radius: 200%;
   height: 440px;
   width: 440px;
}

img {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
    width:20%;
}
.container:hover{
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: grayscale(1);
    transition: background-size 0.3s ease; 
}

 body {
     text-align: center;
 }
 *{
    margin: 0;
    padding: 0;
}

nav{
    margin: 50px;
}

ul{
    overflow: hidden;
    list-style-type: none;
}

li{
    margin-right: 0px;
    height: 25;
    float: left;
    border-right: 1px solid #aaa;
    padding: 0 20px;
}

li:last-child{
border-right: none;
}

li a{
    text-decoration: none;
    color: #ccc;
    font: 25px/1 Gotham, sans-serif;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

li a:hover{
    color: #000;
}

li.active a{
    font-weight: bold;
    color: #333;
}


